

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(65, 65, 65);
}

header {
    background: linear-gradient(135deg, rgb(106, 144, 228), rgb(65, 65, 65));
    position: fixed;
    width: 100%;
    padding: 20px 15px;
    top: 0;
z-index: 1000;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

}

a   {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-link:hover {

    color: lightblue;
}

ul li {
    display: inline-block;
    padding: 0 20px;
}


.logo img {
    height: 100px;
    width: auto;
    padding: 0px;
    border-radius:30%;
    border: solid white 2px;
}